/* Main css settings */
html,
body,
#root {
    font: 0.9rem sans-serif;
    background: #0a1f44;
    color: #1e2432;
    height: 100%;
    margin: 0;
}

.main-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)),
        url("https://hdwallpaper20.com/wp-content/uploads/2017/07/wallpaper-wp4001752.jpg");
    background-size: cover;
    background-position: center;
}

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search {
    outline: none;
    padding: 20px 7%;
    border-radius: 20px;
    border: none;
    margin-bottom: 1%;
    background: rgba(250, 250, 250, 0.85);
}

.remember {
    display: flex;
    align-items: center;
}

.remember-label {
    color:white;
    margin-left: 5px;
}

.city {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 8%;
    border-radius: 20px;
    background: rgba(250, 250, 250, 0.85);
    box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
}

p {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #1e2432;
    text-align: center;
}

.city sup {
    font-size: 0.5em;
}

.city-name {
    font-size: 2em;
}

.city-name sup {
    padding: 0.2em 0.6em;
    margin-left: 0.2em;
    border-radius: 30px;
    color: #fff;
    background: #ff8c00;
}

.city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .search {
        padding: 20px 15%;
    }

    .city {
        padding: 40px 20%;
    }
}

/* 
  Flipping the weather card css,
  Added on 17/09/2020 dvg
*/
.flip-card {
    background-color: transparent;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding: 40px 8%;
    align-items: center;
    display: flex;
}

.flip-card-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 8%;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    /* -webkit-backface-visibility: hidden; */
    backface-visibility: hidden;
}

.flip-card-front {
    /* Had to make the background color transparent */
    background-color: transparent;
    border-radius: 10px;
    color: black;
}

.flip-card-back {
    display: flex;

    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
    color: black;
    transform: rotateY(180deg);
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
    opacity: 0.9;
}

/* Info on the back of the card */
.feels-like {
    font-weight: 400;
    font-size: 1.5em;
    color: white;
    margin-bottom: 5px;
}

.glass {
    /* background styles */
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color: green; /*for compatibility with older browsers*/
    background-image: linear-gradient(green, lightgreen);
    box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
    /* text styles */
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
}

.info-label {
    position: relative;
    display: inline-block;
    background-color: rgb(32, 177, 104); /*for compatibility with older browsers*/
    background-image: linear-gradient( rgb(8, 150, 107), rgb(11, 53, 32));
    box-shadow: 4px 4px 4px 0px rgba(15, 15, 15, 0.404);
    color: white;
    font-size: 17px;
    background-color: #ff8c00;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
}

.info-label:after{
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(25, 139, 60, 0.8), rgb(8, 255, 135));
}

.card-back-title {
    color: white;
}
